
/************** Main Body Content **************/
/************** Main Body Content **************/
/************** Main Body Content **************/

body {
	padding-top: 90px;
  background-color: #EEE9E9;
	}

  div.footer {
  margin: 0 auto;
  }

/************** Headings **************/
/************** Headings **************/
/************** Headings **************/

h1 {
	font-family:'Dancing Script', cursive;
	font-size: 50px;
  color: #7A3E48;
	}

h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	}

h2.home {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	}
	
h3.resume {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	}

h4.resume {
	font-size: 18px;
  color: #7A3E48;
	margin-bottom: 1px;
	}

/************** Links and Buttons **************/
/************** Links and Buttons **************/
/************** Links and Buttons *************/

a
{
  color: #7A3E48;
}

a:hover 
{
  color: #BC8F8F;
  font-style: underline;
}

a:visited 
{
  color: #BC8F8F;
  font-style: underline;
}


a.btn-primary {
	color: white;
	}

/* Line 2350 */
.btn-primary
{
  background-color: #BC8F8F;
	border: none;
}

/* Line 2356 */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
  color: white;
  background-color: #7A3E48;
  border-top-color: #BC8F8F;
  border-right-color-value: #BC8F8F;
  border-bottom-color: #BC8F8F;
  border-left-color-value: #BC8F8F;
}

.btn-default
{
  color: #EEE9E9;
  background-color: #ffffff;
  border-top-color: #cccccc;
  border-right-color-value: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color-value: #cccccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default
{
  color: #BC8F8F;
  background-color: #BC8F8F;
  border-top-color: #BC8F8F;
  border-right-color-value: #BC8F8F;
  border-bottom-color: #BC8F8F;
  border-left-color-value: #BC8F8F;
}

a.btn-default:hover, a.btn-default:focus {
	color: white;
	}

/************** Navigation Bar **************/
/************** Navigation Bar **************/
/************** Navigation Bar **************/

.navbar-inverse .navbar-brand {
    color: white;
}

a.navbar-brand 
{
  color: #white;
  font-family:'Dancing Script', cursive;
  font-size: 30px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #7A3E48;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #7A3E48 ;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #7A3E48;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #7A3E48;
    background-color: transparent;
    font-size: 115%;
}

.navbar, .navbar-inverse, .navbar-fixed-top
{
  background-color: #BC8F8F;
  color: white;
  font-size: 15px;
}

.nav, .navbar-nav
{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

li.navbar-collapse collapse
{
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 0px;
}
